.searchbar{
    width:100%;
    height: 70px;
    background: rgb(9,4,56);
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428);
    padding-bottom: 20px; 
}
.searchbar input{
    width:300px;
    height:40px;
    font-family: poppins;
    background:white;
    border:none;
    border-radius: 5px;
    margin-left:10px;
    padding-left:10px;
    margin-top: 20px;
}
 .searchbar button{
    width:100px;
    height: 40px;
    margin-left:50px;
    border-radius: 20px;
    border:none;
    background: rgb(213,212,222);
    font-weight:600;
    font-family: 'Inter Tight', sans-serif;
    -webkit-box-shadow: 10px 10px 14px -9px rgba(3,3,3,1);
    -moz-box-shadow: 10px 10px 14px -9px rgba(3,3,3,1);
    box-shadow: 10px 10px 14px -9px rgba(3,3,3,1);

 }
 .options{
    margin-left: 10px;
    width:300px;
    font-family: poppins;
    margin-top:40px;
    background-color:white;
    border-bottom: solid black 2px;
    text-align: center;
    z-index: 2;
 }
 .options:hover{
    color:#004e92;
    scale:calc(1.03)
 }
 .mainbody{
    position:absolute;
    width:100%;
    top:5%;
 }